* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

header {
    width: 100%;
    background-color: #e6f3f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #cdd8dc;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 99px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #1a73e8;
}

header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;
}
#menu {
    margin-right: 1em;
    font-size: 3em;
    color: #7dc4da;
}

header ul li a {
    color: #3b849b;
    font-size: 1.1em;
    padding: 2.0px 2.5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header ul li ul {
    position: absolute;
    right: 0;
    width: 150px;
    background: #e6f3f7;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li{
    position: relative;
    width: 100%;
    padding: 10px;
}

.botao{
   
    border: none;
    cursor: pointer;
    background-color: #1a73e8;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: background-color 0.3s;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

a {
   text-decoration: none;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

.car-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 50px;
    max-width: 1200px;
    width: 100%;
}

.car-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-card img {
    width: 100%;
    height: auto;
}

.car-card h2 {
    font-size: 25px;
    color: #333;
    margin: 10px 0;
}

.car-card p {
    font-size:15px;
    color: #666;
}

/* Responsividade para telas menores */
@media (max-width: 992px) {
    .car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .car-list {
        grid-template-columns: 1fr;
    }
}